<ul class="header-list">
    <li class="header-list-item">
        <a lang="en" href="#">Home</a>
        <a lang="ja" href="#">ホーム</a>
    </li>
    <li class="header-list-item">
        <a lang="en" href="#works">Works</a>
        <a lang="ja" href="#works">作ったゲーム</a>
    </li>
    <li class="header-list-item">
        <a lang="en" href="#news">News</a>
        <a lang="ja" href="#news">最新情報</a>
    </li>
    <li class="header-list-item" id="selectItem">
        <select id="langSelect">
            <option value="en">English</option>
            <option value="ja">日本語</option>
        </select>
    </li>
</ul>