body {
    font-family: "Helvetica Neue",
                    Arial,
                    "Hiragino Kaku Gothic ProN",
                    "Hiragino Sans",
                    Meiryo,
                    sans-serif;
}

.block {
    width: 1000px;
    margin: 0 auto;

    text-align: center;
}

.applink {
    margin-top: 5%;
}

.applink img { 
    width: 30%;
    /* max-width: 100%; */
    text-align: center;
} 

.footer {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/


}

@media (max-width: 768px) {
    .block { 
        width: 100%;
    }

    .applink {
        /* width: 50%; */
        /* width: 100%; */
        padding-left: 0;
        margin: 0 auto;
     

        text-align: center;
        padding-top: 5%;
    }

    .applink img { 
        width: 50%;
        /* max-width: 100%; */
        text-align: center;
    } 

    .icon {
        /* text-align: center; */


        width: 80%;
        /* padding-top: 10px; */
    }

    .badge {
        /* width: 50%; */
    }
}