body {
    /* background-color: #dcdcdc; */
}

body {
    font-family: "Helvetica Neue",
                    Arial,
                    "Hiragino Kaku Gothic ProN",
                    "Hiragino Sans",
                    Meiryo,
                    sans-serif;
}

.block {
    width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.works li a {
    /* width: 100%; */
    /* display: block; */
}

.works li img {
    max-width: 100%;
    height: auto;
}

.works li {
    width: 30%;
    margin-bottom: 1em;
    /* background-color: blue; */
}

.works {
    /* background-color: #dcdcdc; */
    /* font-size: 24px; */
    list-style: none;
    margin-left: 1em;

    display: -webkit-box;
    display: flex;
    /* -webkit-justify-content: space-between; */
    /* justify-content: space-between; */
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
    
}

.applink {
    
    background-color: white;
}

.footer {
    margin-top: auto;
}

  
@media (max-width: 768px) {
    .block { 
        width: 100%;

    }

    .works {
        list-style: none;
        /* width: 100%; */
        padding-left: 0;
        margin: 0 auto;
     

        text-align: center;

        /* background-color: coral; */
    }

    .icon {
        /* text-align: center; */


        /* width: 100%; */
        /* padding-top: 10px; */
    }

    .works li {
        margin:0 auto;
        
        /* text-align: center; */

        width: 100%;
        margin-bottom: 1em;
        /* background-color: coral; */

    }
}